<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="closer.vlllage.com.closer">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GroupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PhotoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.APP_GALLERY" />
            </intent-filter>
        </activity>

        <receiver android:name=".Background" android:exported="false" />

        <service
            android:name=".CloserFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".CloserFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path"/>

        </provider>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel"/>

    </application>

</manifest>